*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo{
    margin-bottom: 16px;
    width: 100px;
    float: left;
}

.logo1{
    margin-top: 30px;
}

.speaker-form{
    margin-top: 70px;
    padding: 35px;
}

.container{
    display: flex;
    padding: 35px;
}

h1{
    text-align: center;
    font-weight: 700;
}

form{
    width: 40%;
   
    margin-left: 30%;
        
    background-image: url(fondo2form.png);
    padding: 40px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.form{
    width: 100%;
    margin: auto;
}

form .grupo{
    position: relative;
    margin: 45px ;
}

input{
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var;
}

input:focus{ 
    outline: none;
    color: #5e5d5d;
}

label{
    color: var;
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;
}

input:focus~label,
input:valid~label{
    top: -14px;
    font-size: 12px;
    color: #2196f3;
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #B06AB3, #4568DC);
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before{
    width: 100%;
}


button{
    font-family: 'roboto';
    background: #4568DC;
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    background: linear-gradient(to right, #B06AB3, #4568DC);
    border: none;
    display: block;
    width: 90%;
    margin: 10%;
    align-content: center;
    align-self: center;
    align-items: center;
    
    color: #fff;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

textarea{
    width: 350px;
}




