*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: block;
    align-items: center;
    justify-content: center;
     max-width: 400px;
    
    }

.grid{
    display: flex;
    box-shadow: 0 2px 5px #000;
}   

.logo{
    margin-bottom: 16px;
    width: 100px;
    float: left;
}

.logo1{
    margin-top: 30px;
}

.tittle  h3{
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
}

