nav{
    background: #c17bb6;
    height: 100px;
    opacity: .9;
}

.navbar-brand{
    color: white !important;
    font-size: 35px !important;
    font-family:'Times New Roman', Times, serif;
}

.nav-link{
    color: white !important;
    font-size: 20px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    font-family:'Times New Roman', Times, serif;
    position: relative !important;
}

.nav-link::after{
    content: '';
    opacity: 0;
    transition: all 0.2s ease !important;
    height: 2px;
    width: 100%;
    background-color: greenyellow;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after{
    opacity: 1;
    

}

footer{
    margin-top: 100px;
    padding: 20px;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px    ;
}

.foo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.foo-tiitle{
    color: white;
    font-size: 15px;
    display: flex;
    height: 5px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    padding: 15px;
}